<%= render "shared/header" %>
<div class='main'>

<div class='item-contents'>
  <h1 class='title'>
    検索結果
  </h1>
    <ul class='item-lists'>

  <%# 検索結果の個数で条件分岐 %>
    <% if @results.length !=0 %>
      <% @results.each do |result| %>
      <li class='list'>
        <%= link_to item_path(result.id) do %>
        <div class='item-img-content'>
          <%= image_tag result.image, class: "item-img" %>

          <%# 商品が売れていればsold outを表示しましょう %>
          <% if result.purchase != nil %>
          <div class='sold-out'>
            <span>Sold Out!!</span>
          </div>
          <% end %>
          <%# //商品が売れていればsold outを表示しましょう %>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= result.name %>
          </h3>
          <div class='item-price'>
            <span><%= result.price %>円<br><%= result.send_price.name %></span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>
    <% else %>
      該当する商品はありません
    <% end %> 
  <%= link_to 'トップページへ戻る', root_path %>
</div>


<%= render "shared/footer" %>